$very-light-grey-color: #f8f8f8;
$shadow-color-color: rgba(0, 0, 0, 0.1);

.profileInfo {
  display: flex;
  gap: 24px;
  background: $very-light-grey-color;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px $shadow-color-color;
}
