$blue-color: #007bff;
$grey-color: #333333;
$red-color: #F44336;

.navbar {
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__signed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__links {
    display: flex;
    gap: 20px;
  }

  &__link {
    &__text {
      color: $grey-color;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: $blue-color;
      }
    }
  }

  &__logout {
    border: none;
    color: $red-color;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      border-bottom: 2px $red-color solid;
    }
  }

  &__signUp {
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: flex-end;

    span {
      font-size: 1rem;
    }

    &__button {
      border: none;
      padding: 0;
      border-radius: 4px;
      cursor: pointer;
      color: $blue-color;
      transition: color 0.3s ease;
      &:hover {
        color: $grey-color;
        text-decoration: underline;
      }
    }
  }
}
